#map {
  height: 1000px;
  width: 100%;
}

.tabla-container {
  max-height: 400px;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  position: sticky;
  background: white;
  z-index: 2;
}

/* Primera fila de cabecera */
thead tr:first-child th {
  top: 0;
}

/* Segunda fila de cabecera */
thead tr:nth-child(2) th {
  top: 32px;   // ajusta según la altura real de la primera fila
}

th, td {
  padding: 6px 8px;
}

.bicycle-marker {
  font-size: 28px;
  line-height: 32px;
  text-align: center;
}

.vehiculo-row {
    cursor: pointer;
}

.vehiculo-row:hover {
    background-color: #f2f2f2;
}