Ciudad:
<select [(ngModel)]="selectedCity" (ngModelChange)="loadMap($event)">
    @for (city of cities; track city.name) {
    <option [ngValue]="city">{{ city.name }}</option>
    }
</select>

<div [hidden]="!selectedCity">
    <div class="mapa-gris">
        <div id="map"></div>
    </div>

    <div class="controles">
        <button (click)="loadVehiculos()">Recargar</button>
        &nbsp;
        <button (click)="simulacionAleatoria()">Simulación aleatoria</button>
        <button (click)="generarBicicleta()">Generar bicicleta</button>
        &nbsp;
        Hay {{ vehiculos.length }} bicicletas en marcha.
    </div>.

    <div class="tabla-container">
        <table border="1">
            <thead>
                <tr>
                    <th rowspan="2">Matrícula</th>
                    <th colspan="2">Origen</th>
                    <th colspan="2">Destino</th>
                    <th colspan="2">Posición actual</th>
                    <th rowspan="2">Velocidad actual</th>
                    <th rowspan="2">Distancia recorrida</th>
                </tr>
                <tr>
                    <th>Coordenadas</th>
                    <th>Vía</th>
                    <th>Coordenadas</th>
                    <th>Vía</th>
                    <th>Coordenadas</th>
                    <th>Vía</th>
                </tr>
            </thead>

            <tbody>
                @for (v of vehiculos; track v.matricula) {
                <tr (click)="mostrarRuta(v)" class="vehiculo-row">

                    <td>{{ v.matricula }}</td>

                    <td>
                        ({{ v.latitudOrigen | number:'1.4-4' }},
                        {{ v.longitudOrigen | number:'1.4-4' }})
                    </td>

                    <td>{{ v.nombreOrigen }}</td>

                    <td>
                        ({{ v.latitudDestino | number:'1.4-4' }},
                        {{ v.longitudDestino | number:'1.4-4' }})
                    </td>

                    <td>{{ v.nombreDestino }}</td>

                    <td>
                        ({{ v.latitudActual | number:'1.4-4' }},
                        {{ v.longitudActual | number:'1.4-4' }})
                    </td>

                    <td>{{ v.direccion }}</td>

                    <td>{{ v.kmh | number:'1.0-0' }} Km/h</td>

                    <td>{{ v.distanciaRecorrida | number:'1.0-0' }} m</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>