<h1>Creación de vehículos</h1>

Número de vehículos: <input type="number" [(ngModel)]="numberOfVehicles" min="1" max="5">
<button (click)="createVehicles()">Crear vehículos</button>

@if (vehiculos.length>0) {
    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Matrícula</th>
                <th>Municipio</th>
                <th>Latitud</th>
                <th>Longitud</th>
                <th>Distancia total</th>
                <th>Batería</th>
                <th>Activo</th>
            </tr>
        </thead>
        <tbody>
            @for (v of vehiculos; track $index) {
                <tr>
                    <td>{{v.id}}</td>
                    <td>{{v.matricula}}</td>
                    <td>{{v.municipio}}</td>
                    <td>{{v.latitudActual}}</td>
                    <td>{{v.longitudActual}}</td>
                    <td>{{v.distanciaTotal}}</td>
                    <td>{{v.bateria}}</td>
                    <td>{{v.activo}}</td>
                </tr>
            }
        </tbody>
    </table>
}